@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Font variables will be injected automatically by Next.js */
  --font-acme: '';
  --font-inter: '';
  --font-roboto-mono: '';
  --font-palanquin: '';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

/* Utility classes for fonts */
.font-acme {
  font-family: var(--font-acme), serif;
}

.font-mono {
  font-family: var(--font-roboto-mono), monospace;
}

.font-palanquin {
  font-family: var(--font-palanquin), Arial, Helvetica, sans-serif;
}